.quotetop {
  margin-top: 10px;
  border: 1px solid grey;
  border-bottom: 0;
  padding: 4px;
  width: 97%;
  background-color: #003300;
  font-weight: bold;
  color: white;
}

.quotemain {
  padding: 4px;
  border: 1px solid grey;
  width: 97%;
  background-color: black;
  color: white;
  font-size: 10px;
}

